<html style="background-color:orange">
  <head>
    <title>This is my about page for the homework</title>
  </head>
  <body>
    
    <h1>Welcome to my about page!</h1>
    <h2>Here is a little bit about myself</h2><hr>
    
    <img src="athlete of year.jpg" alt="A picture of myself" width="200" height="200"
    <br>
    <p>I am currently a student at Virginia Tech and I very much enjoy this class. <br>
    I have already learned quite a bit and I am eager to continue to learn more<br>
    Below is a link that will take you back to the home page if you would like.<br>
    Have a nice day!</p>
    <hr>
    <%= link_to 'Home Page', root_path%>
  </body>
  
</html>