<html>
  <head>
    <title>HTML Homework</title>
  </head>
  <body>
    <h1 style="color:pink">Welcome to the home page for my homework!</h1>
    <h2>Below you will see a link to another page describing more about me
    and my homework</h2><hr>
    
    <p><b>Chester Hebden - 7 April 2017</b></p>

    
    <%= link_to "Alpha-Blog", articles_path %> | <%= link_to 'About My Homework', about_path%>
  </body>
</html>